@import "./Global.scss";
@import "./ResourceCard.scss";

$column-gap: 1rem;
$row-gap: 1rem;

.main {
  display: grid;
  max-width: 70rem;
  min-width: 220px;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-gap: $row-gap $column-gap;
  margin: $header-height auto;
  grid-auto-rows: 1fr;
  justify-content: center;
}

@media (max-width: 720px) {
  .main {
    grid-template-columns: repeat(auto-fit, 165px);
  }
}

@media (max-width: 555px) {
  .main {
    grid-template-columns: repeat(auto-fit, 135px);
  }
}

@media (max-width: 307px) {
  .main {
    grid-template-columns: 250px;
  }
}
