@import "./Global.scss";

.resource-card {
  background-color: white;
  color: $text-color;
  position: relative;
  border-radius: 3%;
  transition: 0.2s all ease-in-out;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:hover {
    transform: scale(1.03);
  }

  .card-content {
    display: grid;
    align-content: space-around;
    justify-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .card-title {
      display: inline-block;
      margin: 0;
      font-size: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .card-icon {
      font-size: 5rem;
      line-height: 5rem;
    }

    p {
      font-size: 2.4rem;
      line-height: 2.4rem;
      margin-top: 0;
    }
  }
}

@media (max-width: 600px) {
  .resource-card {
    .card-content {
      .card-title {
        font-size: 1.3rem;
      }
      .card-icon {
        font-size: 4rem;
        line-height: 4rem;
      }

      p {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
}

@media (max-width: 520px) {
  .resource-card {
    .card-content {
      .card-title {
        font-size: 1.4rem;
      }
      .card-icon {
        font-size: 5rem;
        line-height: 5rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .resource-card {
    .card-content {
      .card-title {
        font-size: 1.3rem;
      }
      .card-icon {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }
}

@media (max-width: 360px) {
  .resource-card {
    .card-content {
      .card-title {
        font-size: 1.1rem;
      }
      .card-icon {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
    }
  }
}

@media (max-width: 319px) {
  .resource-card {
    .card-content {
      .card-title {
        font-size: 1.5rem;
      }
      .card-icon {
        font-size: 7rem;
        line-height: 7rem;
      }
      p {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
}
