@import "./styles/Global.scss";
@import "./styles/Header.scss";
@import "./styles/Main.scss";
@import "./styles/Footer.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background: linear-gradient(360deg, $aqua 25%, $yellow 75%);
}

.page-container {
  position: relative;
  min-height: 100vh;
  padding: $header-height/2 0 $footer-height/2 0;
}
